:root {
    --primary-color: #F8E8EE;
    --secondary-color: #F2BED1;
    --third-color: #ED709D;
    --forth-color: #8C6E79;
    --background-color: #F9F5F6;
    --text-color: #3E4149;
    --shadow-color: #F2789F;
  }
  