.pink {
    background-color: #f2bed1;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .dark {
    background-color: #1e1e2f;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .white {
    background-color: #ffffff;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .red {
    background-color: #ff6666;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .orange {
    background-color: #ffa552;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .yellow {
    background-color: #ffd700;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .green {
    background-color: #33cc66;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .blue {
    background-color: #3399ff;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .navy {
    background-color: #3339ff;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  
  .purple {
    background-color: #9933ff;
    border: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
  }
  