.profilePage{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 500px;
   
}

.defaultFont{
    font-size: 40px;
}

.career{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 기본 스타일 */
.year {
    width: 3%; /* 너비를 화면의 3%로 설정 */
    height: 150vh; /* 높이를 뷰포트 높이에 기반 */
    margin-top: 20px;
  }
  
  .smallYear {
    width: 10%; /* 너비를 화면의 10%로 설정 */
    height: 60vh; /* 높이를 뷰포트 높이에 기반 */
    position: absolute;
    top: 9%;
  }
  
  .smallYear2 {
    width: 10%; /* 너비를 화면의 10%로 설정 */
    height: 60vh; /* 높이를 뷰포트 높이에 기반 */
    position: absolute;
    top: 55%;
  }

  .detailAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.imgAndName{
    display: flex; 
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-content: center;
}
.blog{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.blogDetail{
    max-width: 80%;
    margin-top: 15px;
    font-size: 15px;
}
.blogDetail2{
    max-width: 80%;
    margin-top: 15px;
    font-size: 15px;
}
.gitAndNotion{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.github{
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.skills{
    margin-top: 10px;
}

.projects{
    padding: 100px;
}

.detail{
    width: 300px;
    height: 413px;
    background-color: var(--background-color);
    border: 7px solid var(--secondary-color);
    box-shadow: 0px 4px 48px var(--secondary-color);
    border-radius: 23px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    top:9%;
    left: 10%;


}
.detail2{
    width: 300px;
    height: 413px;
    background-color: var(--background-color);
    border: 7px solid var(--secondary-color);
    box-shadow: 0px 4px 48px var(--secondary-color);
    border-radius: 23px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:7%;
    right: 10%;


}
.yearText{
    font-size: 30px;
    position: absolute;
    top:7%;
    right: 31%;
    
}
.yearText2{
    font-size: 30px;
    position: absolute;
    top:46%;
    right: 39%;
}
.yearText3{
    font-size: 30px;
    position: absolute;
    bottom: 43%;
    
    left: 25%;
}
.yearText4{
    font-size: 30px;
    position: absolute;
    bottom:50px;
    
    left: 38%;
}

.projectDetail{
    margin-top: 10px;
    width: 250px;
    height: 150px;
    border: 3px solid var(--secondary-color);
    overflow: hidden;

}
.arrowButton {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 72%;
    right: 3%;
  }
@media(max-width:1128px){
    .detail{
        width: 250px;
        height: 333px;
       
    }
    .detail2{
        width: 250px;
        height: 333px;
      
    
    }
    .projectDetail{
        margin-top: 10px;
        width: 200px;
        height: 130px;
        border: 3px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
    }
    .blogDetail{
        max-width: 90%;
        font-size: 12px;
        margin-top: 15px;
    }
    .blogDetail2{
   
        font-size: 12px;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 15px;
    }
    
    .github{
        width: auto;
        height: 30px;
        margin-right: 10px;
    }
    
    .skills{
        margin-top: 10px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    .yearText{
        font-size: 20px;
        top:8%;
        right: 32%;
        
    }
    .yearText2{
        font-size: 20px;
        top:47%;
        right: 39%;
    }
    .yearText3{
        font-size: 20px;
        bottom: 43%;
        
        left: 28%;
    }
    .yearText4{
        font-size: 20px;

    }
    .arrowButton {
        top: 75%
    
      }
}
@media (max-width:925px) {
    .defaultFont {
        font-size: 30px;
    }
    .year {
        width: 5%; /* 좁은 화면에서는 더 넓게 */
        height: 83vh;
      }
    
    .smallYear {
      width: 20%;
      height: 30vh;
      top: 60px;
    }

    .smallYear2 {
        width: 20%;
        height: 30vh;
        top: 360px;
    }

    .detail{
        width: 200px;
        height: 250px;
       
       
    }
    .detail2{
        width: 200px;
        height: 250px;
        bottom:0%;
        right: 10%;
    
    }
    .projectDetail{
        margin-top: 10px;
        width: 150px;
        height: 100px;
        border: 3px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
    }
    .blogDetail{
        display: none;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 15px;
    }
    
    .github{
        width: auto;
        height: 30px;
        margin-right: 10px;
    }
    
    .skills{
        margin-top: 10px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    .yearText{
        font-size: 18px;
        top:8%;
        right: 33%;
        
    }
    .yearText2{
        font-size: 18px;
        top:43%;
        right: 41%;
    }
    .yearText3{
        font-size: 18px;
        bottom: 38%;
        
        left: 25%;
    }
    .yearText4{
        font-size: 18px;
        bottom:25px;
        
        left: 38%;
    }
    .arrowButton {
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 10px;
        cursor: pointer;
        position: absolute;
        top:102%;
        right: 23%;
        transform: rotate(90deg); /* 90도 회전 */
      }
}
@media (max-width:725px) {
    .defaultFont {
        font-size: 30px;
    }
    /* .year {
        width: 5%; 
        height: 76vh;
      }
    
    .smallYear {
      width: 20%;
      height: 30vh;
      top: 60px;
    }

    .smallYear2 {
        width: 20%;
        height: 30vh;
        top: 360px;
    } */

    .detail{
        width: 150px;
        height: 190px;
        border: 4px solid var(--secondary-color);
        border-radius: 20px;
       
    }
    .detail2{
        width: 150px;
        height: 190px;
        border: 4px solid var(--secondary-color);
        border-radius: 20px;
        bottom:8%;
        right: 10%;
       
    
    }
    .projectDetail{
        margin-top: 10px;
        width: 120px;
        height: 80px;
        border: 3px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{
        margin-top: 5px;
        font-size: 12px;
        font-weight: bold;
    }
    .blogDetail{
        display: none;
    }
    .blogDetail2{

        font-size: 10px;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5px;
    }
    
    .github{
        width: auto;
        height: 20px;
        margin-right: 10px;
    }
    
    .skills{
        margin-top: 10px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    /* .yearText{
        font-size: 15px;
        top:7%;
        right: 25%;
        
    }
    .yearText2{
        font-size: 15px;
        top:46%;
        right: 35%;
    }
    .yearText3{
        font-size: 15px;
        bottom: 43%;
        
        left: 22%;
    }
    .yearText4{
        font-size: 15px;
        bottom:60px;
        left: 35%;
    } */
    .arrowButton {
       top:96%;
       right: 21%;
    
      }
}
@media (max-width:575px) {
    .defaultFont {
        font-size: 20px;
    }

    .year {
        width: 3%; /* 좁은 화면에서는 더 넓게 */
        height: 52vh;
    }
    
    .smallYear {
      width: 10%;
      height: 20vh;
      top: 40px;
    }

    .smallYear2 {
        width: 10%;
        height: 20vh;
        top: 230px;
    }

    .detail{
        width: 120px;
        height: 160px;
        border: 2px solid var(--secondary-color);
        border-radius: 18px;
       
    }
    .detail2{
        width: 120px;
        height: 160px;
        border: 2px solid var(--secondary-color);
        border-radius: 18px;
        bottom:2%;
        right: 10%;
       
    
    }
    .projectDetail{
        margin-top: 10px;
        width: 100px;
        height: 60px;
        border: 1px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{
        margin-top: 2px;
        font-size: 10px;
        font-weight: bold;
    }
    .blogDetail{
        display: none;
    }
    .blogDetail2{
        max-width: 90%;
        font-size: 8px;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2px;
    }
    
    .github{
        width: auto;
        height: 15px;
        margin-right: 10px;
    }
    
    .skills{
        margin-top: 10px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    .yearText{
        font-size: 12px;
        top:8%;
        right: 30%;
        
    }
    .yearText2{
        font-size: 12px;
        top:45%;
        right: 38%;
    }
    .yearText3{
        font-size: 12px;
        bottom: 38%;
        
        left: 25%;
    }
    .yearText4{
        font-size: 12px;
        bottom:3%;
        left: 38%;
    }
    .arrowButton {
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 50%;
        top:100%
      }
}

@media (max-width:425px) {
    .defaultFont {
        font-size: 20px;
    }
    .detail{
        width: 100px;
        height: 130px;
        border: 2px solid var(--secondary-color);
        border-radius: 15px;
        top:13%;
       
    }
    .detail2{
        width: 100px;
        height: 130px;
        border: 2px solid var(--secondary-color);
        border-radius: 15px;
        bottom: 6%;
    
    }
    .projectDetail{
        margin-top: 0px;
        width: 80px;
        height: 50px;
        border: 1px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{

        margin-top: 1px;
        font-size: 10px;
        font-weight: bold;
    }
    .blogDetail{
        display: none;
    }
    .blogDetail2{
        max-width: 90%;
        font-size: 5px;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1px;
    }
    
    .github{
        width: auto;
        height: 12px;
        margin-right: 10px;
    }
    
    .skills{
        margin-top: 10px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    .yearText{
        font-size: 10px;
       
        
    }
    .yearText2{
        font-size: 10px;
      
    }
    .yearText3{
        font-size: 10px;
       
    }
    .yearText4{
        font-size: 10px;
        
       
    }
}

@media (max-width:380px) {
    .defaultFont {
        font-size: 20px;
    }
    .year {
        width: 3%; /* 좁은 화면에서는 더 넓게 */
        height: 42vh;
    }
    
    .smallYear {
      width: 10%;
      height: 15vh;
      top: 40px;
    }

    .smallYear2 {
        width: 10%;
        height: 15vh;
        top: 190px;
    }

    .detail{
        width: 80px;
        height: 110px;
        border: 1px solid var(--secondary-color);
        border-radius: 12px;
        top:13%;
       
    }
    .detail2{
        width: 80px;
        height: 110px;
        border: 1px solid var(--secondary-color);
        border-radius: 12px;
        bottom: 5%;
    
    }
    .projectDetail{
        margin-top: 5px;
        width: 70px;
        height: 50px;
        border: 1px solid var(--secondary-color);
        overflow: hidden;
    
    }
    
     
    .blog{
 
        font-size: 7px;
        font-weight: bold;
    }
    .blogDetail{
        display: none;
    }
    .gitAndNotion{
        display: flex;
        align-items: center;
        flex-direction: row;
     
    }
    
    .github{
        width: auto;
        height: 11px;
   
    }
    
    .skills{
        margin-top: 2px;
    }
    .profilePage{
      
        margin-bottom: 200px;
       
    }
    .yearText{
        font-size: 10px;
        top:11%;
        right: 25%;
        
    }
    .yearText2{
        font-size: 10px;
        top:44%;
        right: 35%;
    }
    .yearText3{
        font-size: 10px;
        bottom: 38%;
        
        left: 18%;
    }
    .yearText4{
        font-size: 10px;
        bottom: 5%;
        left: 34%;
    }
    .arrowButton {
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 50%;
        width: 15px;
        height:15px;
        font-size: 7px;
        top:100%;
    
      }

}