.profilePage{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 500px;
   
}

.devider{
    width: 100%;
    height: 4px;
}

.defaultFont{
    font-size: 40px;
}

.profileImgStyle{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
}

.paragraphStyle{
    
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.myImg {
    width: 100%; /* 부모 컨테이너 너비를 기준으로 크기 설정 */
    max-width: 300px; /* 최대 너비 제한 */
    aspect-ratio: 4 / 5; /* 4:5 비율 설정 */
    border: 4px solid var(--secondary-color);
    filter: drop-shadow(0px 4px 48px var(--secondary-color));
    border-radius: 23px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    overflow: hidden;
}

.myImg img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* 이미지가 컨테이너 크기에 맞게 잘리거나 늘어날 수 있게 설정 */
}

.myImg:hover{
    filter: drop-shadow(0px 4px 48px var(--shadow-color));
    transform: scale(1.1);
}

.imgAndParagraph{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
}


.paragraph{
    
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.sentence{
    margin-bottom: 20px;
}

@media (max-width:1191px) {
    .devider{
        width: 90%;
        height: 4px;
    }
}

@media (max-width:815px) {
    .devider{
        width: 100%;
        height: 4px;
    }
    .defaultFont{
        font-size: 30px;
    }
    .imgAndParagraph{
       
        flex-direction: column;
      
    }
    .paragraph{
    
       margin-top: 20px;
    }
    .profilePage{
       
        margin-bottom: 300px;
       
    }
    
}


@media (max-width:575px) {
    .defaultFont{
        font-size: 20px;
    }
    .sentence{
        font-size: 12px;
    }
    .profilePage{
       
        margin-bottom: 200px;
       
    }
}